body
{
	background:url(../IMG/bg1.jpg) 50% 50% no-repeat;
	background-size: cover;
	overflow:hidden;
}
 
h1
{
 color:#00D1FF;
 font-family:SawRegular,serif;
 text-align:center;
}

 
#menu
{	
	transform: skewX(-20deg);/*нахил*/
}

.m1
{
	animation:pas 4s ease;
}

.m2
{
	animation:pas 3.5s ease;
}

.m3
{
	animation:pas 3s ease;
}

.m4
{
	animation:pas 2.5s ease;
}

.m5
{
	animation:pas 2s ease;
}

.m6
{
	animation:pas 1.5s ease;
}

.m7
{
	animation:pas 1s ease;
}


img
{
	position:absolute;
	top:15%;
	right:15%;
	height:500px;
	width:500px;
	transform: rotate(20deg);
}

@keyframes pas
{
  from
	{ 
		transform:translateX(-50%); opacity:0;
	}
  to
	{	  
		transform:translateX(0%); opacity:1;
	}
}